*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

:root{
    --navbar-height: 59px;
}

#navbar{
    position: sticky;
}
#navbar::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}
#header{
    background: url('image/fork.jpg')no-repeat center center;
    background-size: cover;
    height: 100%;
}
#header ul img{
    height: 60px;
    width: 80px;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}
#header ul img:hover{
    /* background:rgb(122 201 90); */
    border-radius:10%;

}

#header ul a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 10px 20px;
    font-size: 1.8rem;
}
#header ul a:hover{
    color: rgb(201, 201, 129);
}

#header ul{
    display: flex;
}
#header ul button{
    height: 40px;
    width: 110px;
    border-radius: 4px;
    position: absolute;
    top: 10px;
    left: 90%;
}
#header ul button:hover{
    /* background: rgb(233, 214, 214); */
}

#header ul li{
    list-style: none;
    padding: 10px 50px;
}
#header ul li a{
    text-decoration: none;
    color: rgb(252, 252, 252);
}
#home{
    font-size: 1.5rem;
    padding: 350px 20px;
    height: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
}

#service{
/* background: url('image/bg11.jpg'); */
padding-bottom: 100px;
color: rgb(0, 0, 0);
}
#service h1{
    text-align: center;
    padding-top: 30px;
    height: 50px;
    font-size: 1.6rem;
}
#service #box{
    margin: auto;
    display: flex;

}
#service img{
    height: 300px;
    width: 400px;
}
#service #box1,#box2,#box3,#box4,#box5,#box6,#box7,#box8,#box9{
    text-align: center;
    margin: auto;
    /* border: 2px solid rgb(255, 255, 255); */
    border-radius: 20px;
}

#service #box1,#box2,#box3,h2{
    margin-bottom: 20px;
}




#menucard .card{
    /* margin-top: 15px; */
    display: flex;
    /* margin-left: 10px; */
    margin: 15px 55px;
    align-items: center;
    justify-content: space-evenly;
    /* flex-direction: row-reverse;   */
}
#menucard .ccard{
    margin: 15px 55px;
    display: flex;
    /* margin-left: 10px; */
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;  
}
/* #menucard .card{
    margin-top: 15px;
    display: flex;
    margin-left: 10px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
} */

#menucard .card button{
    height: 30px;
    width: 250px;
    position:relative;
    /* right: 200px; */
    top: 30px;
    margin-left: 10px;
}
#menucard .ccard button{
    height: 30px;
    width: 250px;
    position:relative;
    /* right: 200px; */
    top: 30px;
    margin-left: 10px;
}

#menucard .card h1{
    /* margin-left: 10px; */
    /* margin-right: 5px; */
}
#menucard .ccard h1{
    /* margin-left: 10px; */
    /* margin-right: 5px; */
}

#menucard .card img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    

}
#menucard .ccard img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    

}
#menucard .card #te h3{
    font-size: 20px;
    margin: 0px 10px;
}
#menucard .ccard #te h3{
    font-size: 20px;
    margin: 0px 10px;
}











/* #forms form{
    padding-top: 80px;
    margin: auto;
    margin-bottom: 50px;
} */

/* #forms button{
    margin-top: 5px;
    position: relative;
    margin-left: 940px;
} */
/* #forms form input,label{

    width: 700px;
    height: 30px;
    margin: auto;
    position:relative;
    margin-left: 320px;
} */
/* #forms form input{
    border: 2px solid red;
} */
/* #forms .info{
    justify-content: center;
    justify-items: center;
    text-align: center;
    font-size: 1.8rem;
} */





/* #forms,input{ 
    margin: auto;
    color: rgb(0, 0, 0);
    width: 600px;
    height: 40px;
    display: block;
    border-radius: 5px;
    font-size: 1.5rem;
} */


form{
    /* border: 2px solid green; */
    width: 1400px;
    margin: 20px auto;
    padding: 10px 20px;
    /* margin: 10px 20px; */
}
form input{
    /* background: rgb(214, 176, 176); */
    width: 700px;
    display: flex;
    margin: -10px auto;
    height: 20px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
    padding: 5px 8px;
    border: 1px solid black;
}
form label{
    /* width: 400px; */
    /* background: rgb(169, 159, 159); */
    width: 200px;
    display: flex;
    margin: -2px 340px;
    font-size: 1.3rem;
}
form button{
    /* background: rgb(58, 46, 46); */
    display: flex;
    margin: 0px auto;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    width: 300px;
    padding: 2px 95px;
    border-radius: 5px;

}

form #submitbutton{
    display: flex;
    height: 40px;
    margin: 0px auto;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    width: 300px;
    padding: 2px 95px;
    border-radius: 5px;
    border: 3px solid green;
}







#client
{
    /* border: 3px solid red; */
    padding-bottom: 20px;
}

#client h1{
    text-align: center;
    padding-top: 10px;
    color: rgb(0, 0, 0);
    height: 40px;
    margin-top: 50px;
    font-size: 1.6rem;
}
#client #cbox{
    display: flex;
    margin-top: 30px;

}
#client img{
    height: 100px;
    width: 100px;
}
#client #cbox1,#cbox2,#cbox3,#cbox4,#cbox5{
    text-align: center;
    margin: auto;
    border-radius: 20px;
}





footer{
    text-align: center;
    position: relative;
    top: 60px;
    margin-bottom: 80px;
    font-size: 1.6rem;
}





/* Phoen css */

@media screen and (max-width:400px) 
{

    #service h1{
    text-align: center;
    padding-top: 30px;
    height: 50px;
    font-size: 1.6rem;
}
#service #box{
    width: 1300px;
    display: flex;
    flex-direction: column;

}
#service img{
    height: 1000px;
    width: 1100px;
    /* border: 3px solid green; */
}

#menucard .card {
    /* margin-top: 15px; */
    display: flex;
    /* margin-left: 10px; */
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    /* border: 3px solid firebrick; */
    padding: 50px 0px;

}

#menucard .ccard {
    /* margin-top: 15px; */
    display: flex;
    /* margin-left: 10px; */
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    /* border: 3px solid firebrick; */
    padding: 50px 0px;

}

#menucard .card img {
    width: 1000px;
    height: 600px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
}
#menucard .ccard img {
    width: 1000px;
    height: 600px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
}

#te{
    /* background: rgb(201, 144, 144); */
    font-size: 3.786rem;
    margin: 10px 129px;
}
#te p {
    /* background: rgb(201, 144, 144); */
    font-size: 3.786rem;
    /* padding: 40px 152px; */
}

#menucard #te button{
    color: rgb(0, 0, 0);
    /* background: rgb(199, 91, 91); */
    width: 1004px;
    height: 100px;
    margin-left: 0px;
    border-radius: 15px;
    font-size: 5.4rem;
}
form input{
    height: 70px;
    width: 999px;
    padding: 1px 5px;
    font-size: 1.9rem;
    color: white;

}
form label{
    font-size: 4.3rem;
}




form #submitbutton{
    display: flex;
    height: 40px;
    margin: 0px auto;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    width: 300px;
    padding: 2px 95px;
    border-radius: 5px;
    border: 3px solid green;
}









}

@media screen and (max-width:500px) {
    #header ul li {
        list-style: none;
        padding: 10px 46px;
    }
    #menucard .card #te h3{
        margin: 0px 2px;
    }
    #menucard .ccard #te h3{
        margin: 0px 2px;
    }
    #menucard {
        /* background: red; */
        width: 1230px;
    }
}

@media screen and (max-width:1111px) {
    #header ul button {
        left: 1036px;
    }
    #foot{
        /* background: #000; */
        width: 1200px;
    }

    
form #submitbutton{
    display: flex;
    height: 40px;
    margin: 0px auto;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    width: 300px;
    padding: 2px 95px;
    border-radius: 5px;
    border: 3px solid green;
}


    
}

@media screen and (max-width:1206px) {
    #header{
        width: 1300px;
    }
    #service h1{
        /* background: #000; */
        width: 1300px;
    }
    /* #box{
        background: #000;
    } */
    #menucard {
        /* background: red; */
        width: 1280px;
    }
    /* #menucard .card {
        background: red;
    } */
    /* #forms form input,label{
        margin-left: 300px;
    } */

    /* #forms button{
        margin-left: 910px;
        width: 85px;
    } */

    #client{
        width: 1200px;
    }
    
}



@media screen and (max-width:1300px) {
    #menucard h1{
        font-size: 100px;
        /* background: #000; */
    }

    form{
        /* background: #000; */
        /* border: 5px solid blue; */
        width: 1200px;
        margin: 20px 10px;
    }
    form label{
        color: rgb(0, 0, 0);
       font-size: 1.7rem;
       margin-left: 100px;

    }
    form input{
        height: 55px;
        width: 999px;
        padding: 1px 5px;
        font-size: 2.4rem;
        color: rgb(0, 0, 0);

    }

    

    /* #forms .info{
        background: rgb(165, 83, 83);
        width: 1300px;
    } */
   
}



@media screen and(max-width:1400px){
    #menucard .ccard{
        /* background: #000; */
    }

    
    
}


